.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #9b9b9b 1px solid;
    margin: 0 20px 0 20px;
}

.el-pagination {
    width: 100%;
    text-align: left;

}

.record-count {
    text-align: right;
    color: rgb(41, 41, 41);
    font-size: 14px;
    width: 200px;
    padding-top: 5px;
}

>>>.el-pagination .btn-next,
>>>.el-pagination .btn-prev,
>>>.el-pagination .el-pager li {
    background: center center no-repeat #fafafa;
}
