.reset {
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.reset .el-button {
    font-size: 14px;
    padding: 0;
    font-family: 'sarabun';
    width: 100px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #7a7a7a;
    color: #444444;
}

.reset .el-button:focus {
    border: 1px solid #DCDFE6;
    color: #606266;
    outline: 0;
    background-color: white;
}